@charset "utf-8";
/* CSS Document */
#kuang_right{
	font-size:16px;
	display:block;
	line-height:40px;
	text-indent:2em;
	font-weight:bold;
	color:#C09;
	
	float:left;
	
	margin-top:10px;
	margin-left:60px;
	width:540px;
	height:460px;
	}
#kuang_right p a{
/*border:#000 1px solid;*/

	font-size:16px;
	font-weight:bold;
	color:#060;}

#kuang_right_sou{
/*border:#000 1px solid;*/
background:#9C3;
	float:left;
	width:398px;
	height:43px;
	margin-left:33px;
	margin-top:3px;
}

#kuang_right_sou_w{
	
	float:left;
	margin-left:20px;
	margin-top:8px;
	width:236px;
	height:28px;
	}


#kuang_right_sou_s {
	
	float:left;
	margin-left:20px;
	margin-top:7px;
	width:55px;
	height:27px;
	
	}
	#kuang_right_sou_s input{
		float:left;
		width:65px;
	height:30px;
		display:block;
		line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background:#690;
	
	}