@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}

#container{background:#FFF;
	width:1024px;
	height:1425px;
	margin:auto;
	
}
#header{
	float:left;
	width:1024px;
	height:160px;
	background:#46A106;
}
#header_denglu{
	
	float:left;
	margin-left:630px;
	width:424px;
	height:20px;
	
}/**/

#header_logo{
	float:left;
	width:1024px;
	height:90px;
	background:#FFF;
}
#header_navi{
	background:#46A106;
	float:left;
	width:1024px;
	height:47px;
}
#header_navi ul{
	list-style:none;
	width:100%;	height:47px;
}
#header_navi ul li{
	float:left;
	width:170px;;
}

#header_navi ul li a{
	display: block;
	text-align:center;
	height:47px;
	width:140px;
	line-height:47px;
	font-size:17px;
	font-weight:bolder;
	color:white;
	text-decoration:none;
}
#header_navi ul li a:hover{
	display:block;
    background:#194C14;
	color:#FFF;
}

#header_logo_sou{
	background:#9C3;
	float:left;
	width:300px;
	height:50px;
	margin-left:123px;
	margin-top:12px;
}

#header_logo_sou_w{
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:200px;
	height:27px;
	background:#FFF;
	}
#header_logo_sou_s{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:36px;
	height:16px;
	font-size:15px;
	font-weight:bolder;
	}
#header_logo_sou_s a{
	color:#F00;
    text-decoration:none;
	}
#header_logo_sou_s a:hover{
	color:#FCBE20;
	}
#navi{
	background:#F6F6F6;
	float:left;
	border-top:#DBDBDB 1px solid;
	border-bottom:#DBDBDB 1px solid;
	margin-top:35px;
	width:1024px;
	height:31px;
	}
#navi .l{
	font-weight:bold;
	float:left;
	margin-left:45px;
	margin-top:5px;
	font-size:14px;
	}
#navi .r{
	
	float:left;
	margin-left:500px;
	margin-top:5px;
	font-size:14px;
	}
#navi .r a{
	color:#F00;
	}
#kuang{
	background:#F6F6F6;
	float:left;
	border-top:#DBDBDB 1px solid;
	border-bottom:#DBDBDB 1px solid;
	margin-top:50px;
	margin-left:100px;
	width:500px;
	height:330px;
	}
#kuang form{
	float:left;
	margin-left:80px;
	margin-top:20px;
	}
#kuang form .l{
	float:left;
	margin-left:80px;
	margin-top:0px;
	}


#kuang hr {
	float:left;
	width:400px;
	margin-left:40px;
	margin-top:35px;
	border:1px dotted #CCC;
	}
#kuang p a {
	text-decoration:none;
	font-size:14px;
	float:left;
	width:200px;
	margin-left:240px;
	margin-top:25px;
	color:#F00;
	}




#foot{}
